/* ==========
Fonts
========== */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Playfair+Display&family=Roboto+Slab:wght@300;400;500;700&family=Roboto:wght@100;300&display=swap');
/* ==========
variables
========== */
:root{
    --primary-color-1:#17252a;
    --primary-color-2:#174948;
    --primary-color-3:#3aafa9;
    --primary-color-4:#def2f1;
    --primary-color-5:#0b0c10;
    --primary-color-6:#feffff;
    

    --transition:all 200ms linear;
    --spacing:0.25rem;
    --radius:0.5rem;

    --ff-primary-1:'Roboto', sans-serif;
    --ff-primary-2:'Playfair Display', serif;
}
/* ==========
global styles
========== */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: var(--primary-color-6);
}
ul{
    list-style-type: none;
}
img{
    width:100%;
    display:block;
  }
  .btn{
text-transform: uppercase;
background: var(--primary-color-3);
padding: 0.75rem 1rem;
letter-spacing: var(--spacing);
transition: var(--transition);
font-size: 1rem;
border: none;
cursor: pointer;
font-family: var(--ff-primary-1);
/* border-radius: var(--radius); */


  }
 .btn:hover{
    background: transparent;
    border: 2px solid var(--primary-color-3);
 }
  .btn-2{
text-transform: uppercase;
text-align: center;
background: var(--primary-color-6);
padding: 0.5rem;
letter-spacing: var(--spacing);
transition: var(--transition);
font-size: 1rem;
border: none;
cursor: pointer;
font-family: var(--ff-primary-1);
color: var(--primary-color-2);

  }
 .btn-2:hover{
    background: transparent;
    color: var(--primary-color-4);
    border: 3px solid var(--primary-color-4);
 }
 h1{
     font-family: var(--ff-primary-1);
     font-weight: 300;
     text-transform: uppercase;
     font-size: 2.25rem;
     max-width: 35rem;
     text-align: center;
 }
 h3{
     font-family: var(--ff-primary-1);
     text-transform: capitalize;
     font-weight: 300;
     font-size: 1.25rem;
 }
 p{
     font-family: var(--ff-primary-1);
     letter-spacing: 2px;
 }
 /* ==========
header
========== */
header{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/man-gfc53347cb_1920.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;  
}
@media screen and (max-width:880px) {
     header{
         background: radial-gradient(var(--primary-color-2),var(--primary-color-5));
    
}
}

 /* ==========
nav
========== */
.nav-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    font-family: var(--ff-primary-1);
}

.list-item ul{
    display: flex;
    gap: 8rem; 
    
}
.list-item ul a{
    color: var(--primary-color-6);
    padding: 0.5rem 1rem;
    
}

.list-item ul a:hover{
    color: var(--primary-color-3);
    transition: var(--transition);
    box-shadow: 0 3px var(--primary-color-3);
}
.logo a{
    color: var(--primary-color-4);
    transition: var(--transition);

}
.logo a:hover{
    color: var(--primary-color-3);
}
@media screen and (max-width:576px){
    .nav-area{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
    }
    .list-item ul a{
        padding: 1rem;
    }
}
@media screen and (max-width:880px){
    .list-item ul{
     gap: 2rem;
    }
    
}

 /* ==========
banner
========== */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
    color: var(--primary-color-6);
    gap: 1rem;
}
.main-text{
    max-width: 45rem;
    text-align: center;
}
 /* ==========
about
========== */
.about-section{
    background: radial-gradient(var(--primary-color-2),var(--primary-color-2));
    height: 80vh;
    
}
.about-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
    
}
.about-title{
    display: flex;
    justify-content: center;
    color: var(--primary-color-2);
}
.about-text-1{
max-width: 30rem;
margin: 0 auto;
color: var(--primary-color-6);
}

.about-map{
    max-width: 30rem;
    margin: 0 auto;
}
.about-map-container{
    overflow: hidden;
    border: 8px solid var(--primary-color-1);
    background: var(--primary-color-3);
}
.about-map:hover{
    transform: scale(1.3);
    transition: var(--transition);
    opacity: 0.8;
}
@media screen and (max-width:880px){
    .about-content{
        display: flex;
        flex-direction: column;
 
    }
    .about-section{
        height: 130vh;
    }
    .about-text-1{
        max-width:95vw;
    }
}
    
/* ==========
services
========== */
.service-container{
    background: var(--primary-color-5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
}
.service-title{
    grid-column-start: 1;
    grid-column-end: 5;
    color: var(--primary-color-3);
}
.card{
    max-width: 18rem;
    background: var(--primary-color-1);
    margin-bottom: 2rem;
    transition: var(--transition);
}
.card:hover{
    transform: translateY(-8px);
}

.card-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.15rem;
    color: var(--primary-color-3);
    

}
.service-img{
    height: 250px;
}
@media screen and (max-width:576px){
    .service-container{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:880px){
    .service-container{
        display: flex;
        flex-direction: column;
    }
}
 /* ==========
why choose us
========== */
.why-choose-us{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/businessman-g3e7beed44_1920.jpg) ; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.choose-us-containers{
    background: var(--primary-color-1);
    display: flex;
    margin: 5rem;
}
.reasons-text{
    max-width: 50%;
    padding: 4rem;
    background: var(--primary-color-2);
    color: var(--primary-color-4);
}
.reasons {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-weight: 300;
  
}
.individual-reason{
    padding: 2rem;
    text-align: center;
}
.individual-reason:hover{
    background: var(--primary-color-2);
    transition: var(--transition);

}
.individual-reason:hover .fas{
    transform: translateY(-8px);
    transition: var(--transition);
}
.fas{
font-size: 1.25rem;
}

     
     @media screen and (max-width:880px){
        .choose-us-containers{
            display: flex;
            flex-direction: column;
            
        }
        .reasons-text{
            max-width: 100%;
        }
    }
/* ==========
contact
========== */
.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-items: center;
    background: var(--primary-color-4);   
    

}
.contact-title{
    grid-column-start: 1;
    grid-column-end: 4; 
    color: var(--primary-color-3);
}
.contact{
    margin-bottom: 2rem;
}
.social-container{
background: var(--primary-color-2);
text-align: center;
padding: 8rem 2rem ;
color: var(--primary-color-6);
}
.social-container:hover .fab{
    transform: translateY(-8px);
    transition: var(--transition);
}
.fab{
    font-size: 1.25rem;
}
.email-container{
    background: var(--primary-color-1);
    text-align: center;
    padding: 8rem 2rem ;
    color: var(--primary-color-6);
}
.email-container:hover .far{
    transform: translateY(-8px);
    transition: var(--transition);
}
.far{
    font-size: 1.25rem;
}
.phone-container{
    background: var(--primary-color-3);
    text-align: center;
    padding: 8rem 2rem ;
    color: var(--primary-color-6);
}
.phone-container:hover .fas{
    transform: translateY(-8px);
    transition: var(--transition);
}
@media screen and (max-width:576px){
    .contact-container{
        display: flex;
        flex-direction: column;
    }
}

/* ==========
footer
========== */
.footer-container{
    display: flex;
    justify-content: space-evenly;
    background: var(--primary-color-5);
    padding: 3.5rem 0 ;
    font-family: var(--ff-primary-1);
    text-transform: capitalize;
    
}
.footer-headings{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: var(--ff-primary-1);
    text-transform: capitalize;
    color: var(--primary-color-6);
    font-weight: 500;  
}
@media screen and (max-width:576px){
    .footer-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding:0.5rem;
    }
}




